[submodule "LabGL"]
	path = LabGL
	url = https://codeberg.org/furbytm/LabGL.git
	branch = feat/compute-msl-glsl
[submodule "Nanocolor"]
	path = Nanocolor
	url = https://github.com/meshula/Nanocolor.git
